footer{
    background-color:  rgb(81, 128, 102);   
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;   

}
span{
    color: rgb(6, 48, 25);
}




/* border-top: 1px solid rgba (162, 163, 165, 0.2); background-color: #fff; color: #6e7582; botton: 0; position: fixed; left: 0; width: 100%;  */